---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Typography
$base-font-family: 'Sanomat Sans', Helvetica, Arial, sans-serif;
$base-font-family-serif: 'Droid Serif', serif;

// Font size
$base-font-size:   18px;
$giant-font-size: $base-font-size * 2;
$large-font-size: $base-font-size * 1.25;
$small-font-size:  $base-font-size * 0.875;
$tiny-font-size:  $base-font-size * 0.75;
$base-line-height: 1.5;

// Font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;

$brand-primary-color: #4286f5;
$brand-secondary-color: #488be4;

$grey-color:       #898d97;
$grey-color-light: #ccd6dd;
$grey-color-dark:  #565d6b;
$grey-color-darker: #363a45;

$on-palm:          768px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "mixins",
  "fonts",
  "bootstrap-overrides",
  "base",
  "layout",
  "header",
  "footer",
  "tags",
  "social-media-list",
  "sharing-links",
  "hiring-panel",
  "syntax-highlighting",
  "videos"
;
