/**
* Site header
*/
.site-header {
  border-bottom: 1px solid $grey-color-light;

  // Positioning context for the mobile navigation icon
  position: relative;


  .social-media-list {
    margin-top: 10px;

    li {
      margin-left: 15px;
      margin-right: 0;
    }
  }
}

.site-title-wrapper {
  height: 60px;
  margin: 20px auto 10px;

  .site-title-wrapper-inner {
    height: 100%;
  }

  @include media-query($on-palm) {
    margin: 10px auto;
  }
}

.site-title {
  background-image: url('/img/alphabotics-logo.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 200px;
  min-height: 50px;
}

.site-subtitle {
  color: $grey-color;
  display: inline-block;
  font-size: 22px;
  font-weight: $font-weight-light;
  padding-left: 5px;
  padding-top: 12px;
  vertical-align: top;
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}

.site-search {
  align-items: center;
  display: flex;
  height: 100%;
}

.nav-category {
  margin: 0;

  li {
    display: inline-block;
    list-style: none;
    padding: 10px 15px;

    &:first-child {
      padding-left: 0;
    }

    @include media-query($on-palm) {
      font-size: $tiny-font-size;
    }
  }
}
